<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="PM"
            sequence="0"/>
          
        <menuitem name="Quản lý dự án" 
            id="menu_projects" 
            parent="menu_root" 
            sequence="1"
            action="action_projects"
        />

        
        <menuitem name="Quản lý công việc" 
            id="menu_taskss" 
            parent="menu_root" 
            sequence="2"
            action="action_taskss"
        />

        <menuitem name="Ngân sách dự án" 
            id="menu_budgets" 
            parent="menu_root" 
            sequence="3"
            action="action_budgets"
        />

        <menuitem name="Chi phí dự án" 
            id="menu_expenses" 
            parent="menu_root" 
            sequence="4"
            action="action_expenses"
        />
        
        <menuitem name="Biểu đồ dự án" 
            id="menu_chart" 
            parent="menu_root" 
            sequence="5"
            action="action_bieu_do_du_an"
        />

        <menuitem name="Biểu đồ công việc" 
            id="menu_chartoftasks" 
            parent="menu_root" 
            sequence="6"
            action="action_bieu_do_cong_viec"
        />

    </data>
</odoo>